*,::before, ::after{
    box-sizing: border-box;
}

html,body{
    font-family: sans-serif;
    padding:.33rem;
}

h1,h2,h3,h4,h5,h6 { 
    text-align: center;    
    margin-block-start: .5rem;
    margin-block-end: .5rem;
}

.posts{
    padding:.25rem;
}

.post{
 border: solid 1px lightblue;
 margin:.15rem 0rem;
 padding: .15rem 0 .15rem .5rem;
    display: flex;
    flex-flow: column nowrap;
    align-content: center;
 & > .title{
     text-align: center;
     font-size: 1.5rem;
 }

}

//test